<!doctype html>
<html>
  <head>
    <!-- set the title of the page dynamically using the garageName variable -->
    <title>About <%=garageName%></title>
    
    <!-- link to the main stylesheet for styling -->
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <!-- display the garageName in a heading -->
    <h1>About <%=garageName%></h1>

    <!-- provide a brief description of the page's purpose -->
    <p>We manage your tools for your garage</p>
  </body>
</html>
