<!doctype html>
<html>
  <head>
    <title>About <%=garageName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>About <%=garageName%></h1>
    <p>We manage your tools for your garage</p>
  </body>
</html>