<!doctype html>
<html>
  <head>
    <title>Add tool to <%=garageName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=garageName%>: Add tool</h1>

    <!--tool addition form with relevant input fields and a dropdown for locations -->
    <form method="POST" action="/tooladded">
        <!-- input field for Tool name -->
        <p>Tool name: <input id="name" type="text" name="name" value="" /></p>

        <!--input field for Category -->
        <p>Category: <input id="category" type="text" name="category" value="" /></p>

        <!-- dropdown for selecting the Location -->
        <p>Location:
          <select name="location_id">
            <!-- loop through each location in the locations array and create an option for each -->
            <% locations.forEach(function(location) { %>
              <option value="<%= location.location_id %>"><%= location.location_name %></option>
            <% }) %>
          </select>
        </p>

        <!-- submit button to submit the form -->
        <input type="submit" value="Add Tool" />
    </form>
  </body>
</html>
