<!doctype html>
<html>
  <head>
    <title>Welcome to <%=garageName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome to <%=garageName%></h1>
    <p><a href="about">About <%=garageName%></a></p>
    <p><a href="search">Search for tools</a></p>
    <p><a href="addtool">Add a new tool</a></p>
    <p><a href="list">List tools</a></p>
    <p><a href="register">Register with us</a></p>
    <p><a href="login">Login</a></p>
    <p><a href="logout">Logout</a></p>
  </body>
</html>