<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Language Detection</title>

    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>
<body>
    <h1>Language Detection</h1>

    <!-- Form for entering text and triggering language detection -->
    <form method="GET" action="/detect-language">
        <label for="text">Enter Text:</label>
        <input id="text" type="text" name="text" placeholder="Text" required />
        <input type="submit" value="Detect Language" />
    </form>
    
    <!-- Display language detection results if available -->
    <% if (languageData) { %>
        <!-- Heading for the detected language -->
        <h2>Language Detected: <%= languageData.language %></h2>
    <% } else { %>
        <!-- display an error message if there's no data or an error occurred -->
        <p><%= errorMessage || 'No data found' %></p>
    <% } %>
</body>
</html>
